form.search input {
  width: 500px;
  padding: 11px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  border: .5px solid dimgray;
}

form.search button {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: .5px solid dimgray;
  border-left: none;
  width: 100px;
  font-size: 12px;
}

form.search button:hover {
  color: #fff;
  background: #000;
}
